<div class="content" role="main">

  <h2>Basic Calculator</h2>
  <p>Build a functioning calculator with a nice UI using only HTML, CSS and JavaScript. It does not need to handle all
    types of errors, but there should be some basic error reporting</p>

  <div class="container">
    <div class="result">
      <span *ngIf="isPristine()">0</span>
      <span *ngIf="firstValue">{{ firstValue }}</span>
      <span *ngIf="selectedOperator">{{selectedOperator}}</span>
      <span *ngIf="secondValue" class="">{{ secondValue }}</span>
      <span *ngIf="result && result !== firstValue" class="result-item">{{ result }}</span>
    </div>
    <div class="calculator-inner-container">
      <div class="numbers-container">
        <div class="numbers-inner-container">
          <app-button-calculator *ngFor="let num of numbers; let i = index" [btnNumber]="num" (clickedValue)="type($event)"></app-button-calculator>
          <app-button-calculator [btnNumber]="'.'" (clickedValue)="type($event)"></app-button-calculator>
        </div>
      </div>
      <div class="operators">
        <app-button-calculator *ngFor="let op of operators" [classes]="'operator-item'" [btnNumber]="op" (clickedValue)="selectOperator($event)"></app-button-calculator>
      </div>
    </div>
    <div class="calculator-buttons-container">
      <button class="reset-button" (click)="reset()">C</button>
      <button class="result-button" (click)="evaluate()">=</button>
    </div>
  </div>
</div>